{% extends "layout.html"%}

{% block title%} Register {% endblock %}
 

{% block content%}
<div class="form">
    <form method="post" >

        <lable for="username">Username</lable>
        <input name="username" id="username" autofocus type="text">
        <lable for="password">Password</lable>
        <input name="password" id="password" type="password">
        <input type="submit" value="create">
    </form>

    <div>
        already have acount? <a href="{{ url_for('auth.login') }}">log in</a>
    </div>

</div>

{% endblock%}