<!doctype html>
<html>
    <head>
        <meta name="viewport">
        <meta charset="utf-8">
        <meta name="auther" content="shayea">
        <meta name="discription" content="Xallery enables you to share your photos with other designers, ordinary people and the whole world">
        <link rel="stylesheet" href="{{url_for('static' , filename='style.css')}}">
        <title>
            {% block title%} {% endblock %}
        </title>

    </head>
    <body>
        <header>
            <img src={{ url_for('static', filename='logo.png')}} alt="Xallery">
        </header>
        <nav>
            <ul>

            {% if g.user %}
                <li><a href="{{ url_for('Gallery.profile')}}">profile</a></li>
            {% else %}
                <li><a href="{{ url_for('auth.login') }}">Login</a></li>
            {% endif %}
            </ul>
        </nav>
        <div class="flash-message">
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for message in messages %}
                    <div class="flash">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        </div>
        <content>
            {% block content%} {% endblock%}
        </content>

        <footer>
            <hr>
            This is an open source project
        </footer>
    </body>
</html>