<!doctype html>
<html>
    <head>
        <meta name="viewport">
        <meta charset="utf-8">
        <meta name="auther" content="shayea">
        <meta name="discription" content="Xallery enables you to share your photos with other designers, ordinary people and the whole world">
        <link rel="stylesheet" href="{{url_for('static' , filename='style.css')}}">
        <title>
            {% block title%} {% endblock %}
        </title>
    </head>
    <body>
        {% block body%} {% endblock%}
    </body>
</html>