 {% extends 'layout.html' %}

 {% block title%}
    Gallery index
  {% endblock %}

  {% block header%} 
      <a href="{{ url_for('gallery.index')}}" ><img src={{ url_for('static', filename='static/logo.png')}} alt="Xallery"></a>
  {% endblock %}


  {% block nav %} 
  <nav>
	  <ul>
		  {% if g.user %}
			  <li><a href="{{ url_for('gallery.profile', id=g.user['id'])}}"><img class="nav-profile-img" src="static/pro_img/0.png"></a></li>
		  {% else %}
			  <li><a href="{{ url_for('auth.login') }}">Login</a></li>

		  {% endif %}
	  </ul>
  </nav>
  {% endblock%}








  {% block content %}
        
        {% for designer in designers %}
          <div>
            <a href="{{ url_for('gallery.profile', id=designer['id']) }}">{{ designer['username']}} </a>
          </div>
         {% endfor %}

  {% endblock %}