body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(0, 0, 0);
    color: white;
    /* background-image: url('background/hi2-02.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;  */
    
}


header {
    text-align: center;
    margin: 10px;
    padding: 8px;
}

header img {
    width: 300px;
    height: 100px;
}

.clear {
    clear: both;
}

.logo {
    float: left;
    margin-top: 10px;
    display: block;
}


form {
    text-align: center;
    padding: 20px;
    align-items: center;
    background-color: rgb(41, 32, 32);
    display: inline-block;
    margin: 30px;
    border: 2px solid gray;
    border-radius: 3px;
    
} 

input {
    height: fit-content;
    border: 1px solid black;
    border-radius: 5px;
    display: block;
    margin: 8px;
    padding: 6px;
}

input [type=submi]:hover {

    background-color: red;
    transition: 0.4ms;

}

.flash-message {
    text-align: center;
    background-color: rgba(255, 0, 0, 0.205);
}


ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

.nav-profile-img {
    padding: 0;
    width: 4vw;
    height: 4vw;

}


ul li {
    display: inline;
    float: right;
}

ul li a {
    margin-right: 10px;
}



.submit {
    display: inline-block;
    align-items: center;
    position: relative;
    right: 20px;
}

nav {
    padding: 9px;
    background-color: rgb(0, 187, 109);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 30px;
    height: fit-content;
}

/* styling the content */

content {
    padding: 10px;
    align-items: center;
    text-align: center;
}

.profile-page-img {
    padding: 2px;
    margin-top: -10px;
    display: block


}

.profile-page-img img {
    width: 15vw;
    height: 15vw;

}

.profile-page-info {
    margin-top: 1vw;
}

.profile-page-info .name {
    font-size: 2vw;
}

.profile-page-edit .edit, .add {
    display: block;

}



.profile-page-edit .edit .edit-link {
    text-decoration: none;
}

.profile-page-edit .edit .edit-link:hover {
   text-decoration: underline;
}


.profile-page-add {
    margin: 2px;
    padding: 2px;
    border: 2px dotted rgb(0, 0, 0);
    display: block;


}

.profile-page-add .upload-picture-form {
    margin: auto;
}



.pictures {
    padding: 10px;
    margin: 4px;
    background-color: black;
   
 } 
.gallery-picture {
    border-radius: 30px;
    width: fit-content;   
}

.gallery-picture img {
    width: 50%;
    height: auto;
}







/* styling footer */
footer {
    text-align: center;
    font-size: small;
    color: rgb(253, 253, 253);
    padding: 8px;
    height: auto;
    position: relative;
    
}

footer hr {

    border: 1px solid rgb(0, 255, 179);
}
